<li class="external-link"><a href="https://github.com/cshutchinson"><i class="fa fa-github"></i> GitHub</a></li>
<li class="external-link"><a href="https://www.linkedin.com/in/cshutchinson1"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
<li class="external-link"><a href="https://twitter.com/twltfactor"><i class="fa fa-twitter"></i> Twitter</a></li>
<li class="external-link"><a target="_blank" href="mailto:cshutchinson@twilightfactor.com"><i class="fa fa-envelope"></i> Contact</a></li>
