.nameCard {
  height: 600px;
  background-color: #485C63;
  border-radius: 10px;
  border: solid black 1px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}
.nameCardWriteArea {
  position: relative;
  top: 155px;
  height: 350px;
  background-color: white;
}
.helloText {
  margin-left: 5%;
  letter-spacing: .5em;
  text-align: center;
  position: relative;
  font-size: 100px;
  top: -424px;
  color: white;
}
.helloSmallText {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 40px;
  position: relative;
  top: -505px;
  color: white;
}

.movingText {
  display: none;
  text-align: center;
  font-family: 'Roboto Mono';
  margin-left: 20px;
  position: relative;
  top: -520px;
  height: 325px;
}
.navbar{
  list-style-type: none;
}
.navListItem {
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto Mono';
  position: relative;
  top: -85px;
  display: inline-block;
  color: white;
  float: left;
  width: 25%;
}
a {
  display: block;
}
.highlighted {
  color: crimson;
}
.contact, .family, .interests, .about{
  display: none;
  text-align: center;
  font-family: 'Roboto Mono';
  margin-left: 20px;
  position: absolute;
  top: 160px;
  height: 325px;
}
